;-------------------------------------------------------------------------------
; Example secrets file to be used in conjunction with development containers and
; features developed by jjs105 (https://github.com/jjs105/devcontainers).
;-------------------------------------------------------------------------------
; WARNING: ONLY THE EXAMPLE VERSION OF THIS FILE SHOULD BE CHECKED INTO VCS.
;-------------------------------------------------------------------------------
; @note: Theoretically even the example version of this file is leaking the
; names of your secrets but these are likely to be found in the repository
; anyway - e.g. in devcontainer.json.
;-------------------------------------------------------------------------------
; Development containers and features, when checking for secrets, will first
; check the running development container for an environment variable with the
; requested SECRET_NAME. If this is not found, or is blank, this file (with it's
; .example extension stripped) will be checked.
;-------------------------------------------------------------------------------
; This file (with it's .example extension stripped) should be placed in the root
; of your project - i.e. the development container's shared workspace.
